html {
    background-color: lightblue;
	
}

h1 {
	font-family: monospace;
    text-align: center;
	border: 2px solid red;
    display: block;
}

.redbox {
	border: 2px dashed black;
    display: inline-block;
    background-color: red;
    max-width: 100%;
}

.greenbox {
	border: 2px dashed black;
    display: inline-block;
    background-color: green;
    max-width: 100%;
}

.bluebox {
	border: 2px dashed black;
    display: inline-block;
    float: right;
    background-color: blue;
    max-width: 100%;
}