html body {
    background-color: #000000;
    font-family: monospace;
    font-size: 20pt;
    color: white;
}

div {
    background-color: #000000;
}

body div img .logo {
    width: 900px;
    max-width: 900px;
    display: inline-block;
    position: center;
    margin: auto;
}

html body .topmuscle {
    width: 900px;
    display: block;
    margin: auto;
    position: center;
}

body div .menu {
    list-style-type: none;
    margin: 8px;
    padding: 8px;
}

body div .menu li {
    display: inline;
    padding: 8px;
}