html body {
    background-color: #000000;
    font-family: monospace;
    font-size: 20pt;
    color: white;
}

/** {
    border: solid white 1px;
} */

.wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    background-color: #252525;
}
body div .menu {
    list-style-type: none;
    margin: 8px;
    padding: 8px;
    text-align: center;
}

body div .menu li {
    display: inline-block;
    padding: 8px;
    cursor: pointer;
}

.logo {
    width: 100%;
    max-width: 960px;
    display: inline-block;
    position: center;
    margin: auto;
}

.tagline {
    color: red;
    text-align: center;
    text-transform: uppercase;
}

html body .topmuscle {
    width: 100%;
    display: block;
    margin: auto;
    position: center;
    border: 0 0 2px 0 red;
}
